.bannerContainer{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #D1D1D1;
    margin-top: 40px;

    .firstImageContainer{
        img{
            width: 300px;
        }
    }
    .contentsContainer{
        text-align: center;
        margin-left: 50px;
        h1{
            font-size: 40px;
            font-weight: bolder;
        }
        p{
            font-size: 25px;
        }

        .buttonContainer{
        
               
        
         .btn-grad {
            background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bolder;
          }

          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
            }
        

    }
    .secondImageContainer{
        margin-top: 20px;
        margin-left: 260px;
        img{
            width: 250px;
        }
    }
}